 DBName : ffb

 Tables :

   admin :
       - id      varchar(8)      primary_key
       - full_name     varchar(30)
       - user_name     varchar(15)     
       - password      varchar(8)
       - phone_number   numeric(10)
       - login_status   enum('logged in','logged out') default 'logged out'

   category :
       - category_id   varchar(8)      primary_key
       - title         varchar(10)
       - image         varchar(255)

   food :
       - food_id       varchar(8)      primary_key
       - title         varchar(50)
       - description   varchar(255)
       - price         float(10,2)
       - image         varchar(255)
       - category_id   varchar(8)      foreign_key

   user :
       - id        varchar(8)      primary_key
       - full_name      varchar(30) 
       - user_name      varchar(15)     
       - password       varchar(8)
       - phone_number   numeric(10)
       - login_status   enum('logged in','logged out') default 'logged out'

   order :
       - order_id       varchar(8)      primary_key
       - food_id        varchar(8)      foriegn_key + primary_key
       - booking_time   date
       - user_id        varchar(8)      foriegn_key
       - quantity       numeric(2)

In [1]:
import mysql.connector as sql

cnx = sql.connect(user = 'root',
                  host = 'localhost',
                  database = 'ffb')
cursor = cnx.cursor()

In [2]:
# admin :
#       - id      varchar(8)      primary_key
#       - full_name     varchar(30)
#       - user_name     varchar(15)
#       - password      varchar(8)
#       - phone_number   numeric(10)

query = """
        create table admin(
            id varchar(8) not null primary key,
            full_name     varchar(30),
            user_name     varchar(15),
            password      varchar(8),
            phone_number   numeric(10)
            login_status  enum('logged in','logged out') default 'logged out'
        )
        """

cursor.execute(query)
print('admin table created!')

admin table created!

In [6]:
# category :
#        - category_id   varchar(8)      primary_key
#        - title         varchar(10)
#        - image         varchar(255)

query = """
        create table category(
            category_id   varchar(8) not null primary key,
            title         varchar(30),
            image         varchar(255)
        )
        """

cursor.execute(query)
print('category table created!')

category table created!

In [19]:
# food :
#        - food_id       varchar(8)      primary_key
#        - title         varchar(50)
#        - description   varchar(255)
#        - price         float(10,2)
#        - image         varchar(255)
#        - category_id   varchar(8)      foreign_key

query = """
        create table food(
            food_id       varchar(8) not null primary key,
            title         varchar(50),
            description   varchar(255),
            price         float(10,2),
            image         varchar(255),
            category_id   varchar(8),   
            foreign key (category_id) references category(category_id)
        )
        """

cursor.execute(query)
print('food table created!')

food table created!

In [11]:
# user :
#        - id        varchar(8)      primary_key
#        - full_name      varchar(30) 
#        - user_name      varchar(15)
#        - password       varchar(8)
#        - phone_number   numeric(10)
#        - login_status   enum('logged in','logged out') default 'logged out'

query = """
        create table user(
            user_id        varchar(8) not null primary key,
            full_name      varchar(30),
            user_name      varchar(15),
            password       varchar(8),
            phone_number   numeric(10),
            login_status   enum('logged in','logged out') default 'logged out'
        )
        """

cursor.execute(query)
print('user table created!')

user table created!

In [13]:
# orders :
#        - order_id       varchar(8)      primary_key
#        - food_id        varchar(8)      foriegn_key + primary_key
#        - booking_time   date
#        - user_id        varchar(8)      foriegn_key
#        - quantity       numeric(2)

query = """
        create table orders(
            order_id       varchar(8) not null,
            food_id        varchar(8) not null,
            booking_time   date,
            user_id        varchar(8),
            quantity       numeric(2),
            primary key (order_id,food_id),
            foreign key (user_id) references user (user_id)
        )
        """

cursor.execute(query)
print('orders table created!')

orders table created!

In [10]:
# Inserting Categories

query = "insert into category values(%s,%s,%s)"

data = [('cat01','Burgers',None),
        ('cat02','Sandwiches',None),
        ('cat03','Fried Chicken',None),
        ('cat04','Pizza',None),
        ('cat05','Tacos and Burritos',None),
        ('cat06','Salads',None),
        ('cat07','Sides',None),
        ('cat08','Desserts',None),
        ('cat09','Beverages',None)]

cursor.executemany(query,data)
cnx.commit()
print('Categories inserted!')

Categories inserted!

In [11]:
# Inserting Food

query = "insert into food values(%s,%s,%s,%s,%s,%s)"

data = [('fd001','Cheese Burger','cheese burger',99.00,None,'cat01'),
        ('fd002','Veggie Burger','veggie burger',79.00,None,'cat01'),
        ('fd003','Chicken Burger','chicken burger',99.00,None,'cat01'),

        ('fd004','veg Sandwich','veg sandwich',129.00,None,'cat02'),
        ('fd005','Panner Sandwich','panner sandwich',149.00,None,'cat02'),
        ('fd006','Chicken Sandwich','chicken sandwich',99.00,None,'cat02'),

        ('fd007','Wings','wings',129.00,None,'cat03'),
        ('fd008','Drumsticks','drumsticks',179.00,None,'cat03'),
        ('fd009','Popcorn','popcorn',99.00,None,'cat03')
        ]

cursor.executemany(query,data)
cnx.commit()
print('food data inserted!')

food data inserted!

In [37]:
# ffb

class FFB :

    def __init__(self,cursor):
        self.cursor = cursor
        self.usertype = None
        self.ID = None
        self.username = None
        self.password = None
        
    def show_categories_food(self):
        query = "select category_id,title from category"
        self.cursor.execute(query)
        categories = self.cursor.fetchall()
        res = {}
        for rows in categories :
            query = "select * from food where category_id = %s "
            self.cursor.execute(query,[rows[0]])
            details = self.cursor.fetchall()
            res[rows] = details
        return res

    def login(self,usertype,username,password) : 
        query = "select * from "+usertype+" where user_name = %s"
        self.cursor.execute(query,[username])
        userDetails = self.cursor.fetchall()[0]
        if len(userDetails)==0 :
            print("\nUser Not Found!")
            return 0
        if password != userDetails[3]:
            print("\nPassword not matched!")
            return 0
        query = "update "+usertype+" set login_status = %s where user_name= %s"
        self.cursor.execute(query,['logged in',username])
        self.usertype = usertype
        self.ID = userDetails[0]
        self.username = userDetails[2]
        self.password = userDetails[3]
        return 1
             
    def register(self,usertype,fullname,username,password,phone):
        query = "select * from "+usertype+" where user_name = %s"
        self.cursor.execute(query,[username])
        rows = self.cursor.fetchall()
        if  len(rows[0]) :
            print('\nUser Already Exists!')
            return 0
        query = "select * from "+usertype
        self.cursor.execute(query)
        rows = self.cursor.fetchall()
        
        id = 'ID'+str(len(rows)+1).rjust(4, '0')
        query = "insert into "+usertype+" values(%s,%s,%s,%s,%s,%s)"
        self.cursor.execute(query,[id,fullname,username,password,phone,'logged in'])
        cnx.commit()
        self.usertype = usertype
        self.ID = id
        self.username = username
        self.password = password
        return 1

In [38]:
from IPython.display import clear_output

ffb = FFB(cursor)

# Sign In / Sign Up
clear_output()
# print("\nSelect an option :")
# print("\n1. Log in")
# print("\n2. Register")

# op = input('Option : ')
# clear_output()
# if op == '1':
#     response = 0
#     while response == 0:
#         usertype = input('Login Type (admin/user)?: ')
#         username = input('User Name : ')
#         password = input('Password : ')
#         clear_output()
#         response = ffb.login(usertype,username,password)
# elif op == '2':
#     response = 0
#     while response == 0:
#         usertype = input('Login Type (admin/user)?: ')
#         fullname = input('Full Name : ')
#         username = input('User Name : ')
#         password = input('Password : ')
#         phone = int(input('Phone Number : '))
#         clear_output()
#         response = ffb.register(usertype,fullname,username,password,phone)

print('\nUser Name : ',ffb.username)

ffb.show_categories_food()

User Name :  None
[('cat01', 'Burgers'), ('cat02', 'Sandwiches'), ('cat03', 'Fried Chicken'), ('cat04', 'Pizza'), ('cat05', 'Tacos and Burritos'), ('cat06', 'Salads'), ('cat07', 'Sides'), ('cat08', 'Desserts'), ('cat09', 'Beverages')]
cat01
cat02
cat03
cat04
cat05
cat06
cat07
cat08
cat09

{('cat01',
  'Burgers'): [('fd001',
   'Cheese Burger',
   'cheese burger',
   99.0,
   None,
   'cat01'), ('fd002',
   'Veggie Burger',
   'veggie burger',
   79.0,
   None,
   'cat01'), ('fd003',
   'Chicken Burger',
   'chicken burger',
   99.0,
   None,
   'cat01')],
 ('cat02',
  'Sandwiches'): [('fd004',
   'veg Sandwich',
   'veg sandwich',
   129.0,
   None,
   'cat02'), ('fd005',
   'Panner Sandwich',
   'panner sandwich',
   149.0,
   None,
   'cat02'), ('fd006',
   'Chicken Sandwich',
   'chicken sandwich',
   99.0,
   None,
   'cat02')],
 ('cat03',
  'Fried Chicken'): [('fd007',
   'Wings',
   'wings',
   129.0,
   None,
   'cat03'), ('fd008', 'Drumsticks', 'drumsticks', 179.0, None, 'cat03'), ('fd009',
   'Popcorn',
   'popcorn',
   99.0,
   None,
   'cat03')],
 ('cat04', 'Pizza'): [],
 ('cat05', 'Tacos and Burritos'): [],
 ('cat06', 'Salads'): [],
 ('cat07', 'Sides'): [],
 ('cat08', 'Desserts'): [],
 ('cat09', 'Beverages'): []}

In [11]:
cnx.commit()